@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f4;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
}
